*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
/* @media screen and (max-width: 500px){
    *{
        font-size: 0.95em;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
    *{
        font-size: 0.98em;
    }
} */

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    text-align: center;
}

footer{
    height: 10%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 184, 184);
}

main{
    height: 80%;
    width: 100%;
    background-color: rgb(207, 207, 207);
}

#divBotones{
    position: fixed;
    top: 0%;
    right: 2%;
    width: 400px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#divBotones button{
    width: 40%;
}

#orden{ /* select de ordenamiento*/
    width: 50%;
    height: 22%;
}

/* MEDIA BOTONES M V C */
@media screen and (max-width: 500px){
    #divBotones{
        position: fixed;
        top: 0%;
        right: 0%;
        width: 400px;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

/** TABLA **/

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    /* background-color: tomato; */
}

tfoot td {
    text-align: center;
}

thead th, tfoot td {
    border: 2px solid rgb(138, 138, 138);
    background-color: rgb(202, 196, 191);
}

tbody {
    height: 85.7%;
    display: block;
    overflow-y: auto;
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#th-fila-1:hover{
    cursor: pointer;
}

#th-fila-1,#th-fila-2, tbody tr, tfoot {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 7%;
}

tbody tr:nth-child(odd) {
    background-color: rgb(173, 173, 173);
}

tbody tr:nth-child(even) {
    background-color: rgb(211, 211, 211);
}

tbody td {
    padding-left: 1.5%;
    text-align: center;
}

[campo-dato="codigo"],
[campo-dato="valor"]{
    width: 10%;
    overflow: auto;
}

[campo-dato="fechaAlta"] {
    width: 15%;
}

[campo-dato="cat"] {
    width: 20%;
}

[campo-dato="saldo"] {
    width: 10%;
}
[campo-dato="edicion"] {
    width: 7%;
}

table input {
    width: 100%;
}

/* MEDIA TABLA */

@media screen and (max-width: 500px){
    [campo-dato="cat"],[campo-dato="fechaAlta"]
    {
        display: none;
    }
    [campo-dato="codigo"]
    {
        width: 25%;
    }
    [campo-dato="valor"]
    {
        width: 15%;
    }
    [campo-dato="saldo"]
    {
        width: 12%;
    }
    [campo-dato="edicion"]
    {
        width: 12%;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
    [campo-dato="cat"],[campo-dato="fechaAlta"]
    {
        display: none;
    }
    [campo-dato="codigo"],[campo-dato="valor"]
    {
        width: 17%;
    }
    [campo-dato="valor"]
    {
        width: 15%;
    }
    [campo-dato="saldo"]
    {
        width: 10%;
    }
    [campo-dato="edicion"]
    {
        width: 11%;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){

    [campo-dato="cat"]
    {
        display: none;
    }
    [campo-dato="codigo"],[campo-dato="valor"]
    {
        width: 15%;
    }
    [campo-dato="saldo"]
    {
        width: 10%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){

    [campo-dato="saldo"]
    {
        width: 15%;
    }
}


/* botones TABLA edición de fila*/

.btCeldaPDF{
    height: 30px;
    padding: 2px;
    filter: grayscale(1);
}
.btCeldaModi{
    padding-top: 3px;
    height: 35px;
    width: 35px;
    filter: grayscale(1);

}

.btCeldaDelete{
    height: 30px;
    padding: 2px;
    filter: grayscale(1);
}
.btCeldaDelete:hover,.btCeldaModi:hover,.btCeldaPDF:hover{
    filter: grayscale(0);
    cursor: pointer;
}

/* Genericos de ventanas modales */

.modalWindowEnabled {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.modalWindowDisabled {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modalWindowHeader {
    width: 100%;
    height: 8%;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: whitesmoke;
}

.btnCloseWindow {
    background-color: gray;
    border: solid 4px #CC2E32;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: rgb(65, 65, 65);
    font-weight: 600;
    border: none;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCloseWindow:hover {
    cursor: pointer;
    background-color: #FC4646;
}


/* #####  VENTANA MODAL ALTA MODI ##### */

#container {
    width: 100%;
    height: 100%;
}

.activeContainer {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.deactivatedContainer {
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 0.5s linear;
}

#form{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: lightgray;
}

#modalWindow{
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
}

@media screen and (max-width: 500px){
    #modalWindow{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
    #modalWindow{
        position: fixed;
        top: 5%;
        left: 5%;
        width: 85%;
        height: 95%;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    #modalWindow{
        position: fixed;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 80%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    #modalWindow{
        position: fixed;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 80%;
    }
}


#form label{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
#form .divInterno{
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
#cat{
    width: 100%;
    height: 50%;
}
#form button{
    width: 80%;
}
#form input{
    width: 100%;
    height: 50%;
}


/*** MW BODY || Form Section ***/
#mwBody {
    height: 92%;
}

#mwHeader{
    height: 10%;
    color: whitesmoke;
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mwBody h2,
#mwBody h3 {
    margin: 0 auto;
    text-align: center;
}


/**transparent wrap**/
::-webkit-scrollbar{
    background: transparent;
    display: none;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    display: none;
}

/*  POP UP INFO */

.PopUpInfoEnabled {
    visibility: visible;
    opacity: 1;
    bottom: 1%;
    transition: opacity 0.5s linear, bottom 1s linear;
}

.PopUpInfoDisabled {
    visibility: hidden;
    opacity: 0;
    bottom: -30%;
    transition: visibility 0s 0.5s, opacity 0.5s linear, bottom 0.5s linear;
}

#PopUpInfo{
    position: fixed;
    right: 1%;
    border-radius: 10px;
    width: 300px;
    height: 150px;
}

[type=PopUpInfoGreen]  {
    background-color: greenyellow;
}

[type=PopUpInfoRed]  {
    background-color: #FC4646;
}

.btnCloseWindowInfo {
    background-color: gray;
    border: solid 4px #CC2E32;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: rgb(65, 65, 65);
    font-weight: 600;
    border: none;
    position: absolute;
    top: 4%;
    right: 2%;
}

.btnCloseWindowInfo:hover {
    cursor: pointer;
    background-color: #FC4646;
}

.PopUpInfoHeader{
    height: 21%;
    display: flex;
    background-color: rgb(170, 103, 236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

#PopUpInfoBody{
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Modal PDF */

.modalWindowPDFEnabled {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.modalWindowPDFDisabled {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#ContainerPDF{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: lightgray;
}

#modalWindowPDF{
    position: fixed;
    top: 10%;
    right: 10%;
    width: 30%;
    height: 80%;
}

#mwBodyPDF {
    height: 92%;
}

#mwHeaderPDF{
    height: 10%;
    color: whitesmoke;
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mwBodyPDF h2,
#mwBodyPDF h3 {
    margin: 0 auto;
    text-align: center;
}


@media screen and (max-width: 500px){
    #modalWindowPDF{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
    #modalWindowPDF{
        position: fixed;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 90%;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    #modalWindowPDF{
        position: fixed;
        top: 10%;
        right: 20%;
        width: 60%;
        height: 80%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    #modalWindowPDF{
        position: fixed;
        top: 10%;
        right: 20%;
        width: 45%;
        height: 85%;
    }
}

/*BTN SESION*/
#btnCierraSesion
{
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 120px;
    height: 40px;
}