html{
    height: 100%;
}
body{
    height: 100%;
}
div#contenedorExterior{
    width: 80%;
    height: auto;
    background-color: lightblue ;
    margin: 1% auto; /*centra el div exterior*/
}
div.divOpciones{
    float: left;
    width: 80px;
    margin: 0.5% auto;
    margin-inline: 0.5%;
    padding: 1%;
    box-sizing: border-box;

    /*orientación de los contenidos interiores*/
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

    /*bordes*/
    border-style: solid;
    border-color:  black;
    border-width: 1px ;
    
    background-color: lightskyblue;

    font-size: 16px;
}
div.divOpciones:hover{
    color: white;
    background-color: blue;
}
div.divOpciones:active{
    color: white;
    background-color: yellow;
}
div.divClear{
    clear: both;
}
div.divImagenes{
    float: left;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color:  black;
    border-width: 1px ;

}
img{
    max-width: 100%;
    max-height: 100%;
}
div.divImagenes:active{
    width: 400px;
    height: 400px;
}
input{
    display: block;
}
input:focus{
    background-color:#11111111;
}
